<div style="text-align:center;line-height:50px;height:120px; background-color:#DCD8D8">
<h1 style="text-align:center;">This is my about page!!</h1><p>Can you see it?</p>
</div>
<div>
<p style="text-align:center">This is where all of my text is going, then I will have an image below which I can click on!!!</p>
<div style="text-align:center">
<img src="neptune.png">
</div>
<div style="float:left; width:50%; background-color:black">
<h1 style="color:white; text-align:center">Links!!</h1>
</div>
<div style="display:inline; text-align:center; width:auto"><h1>This is sample text</h1></div>
<%= link_to 'Home', root_path %>
</div>
